@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

:root {
    --primary-color: #2AC9BF;
}
 
/* Common */
.main-content {
    width: 1170px;
    margin: 0 auto;
}

a {
    display: block;
    text-decoration: none;
}

.btn {
    padding: 20px 40px;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.desc {
    font-weight: 400;
    line-height: 1.69;
    color: #9DA6A5;
}

.heading {
    font-weight: 700;
    color: #0D1111;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 2.2rem;
}

.heading.lv4 {
    font-weight: 600;
    font-size: 2rem;
}

.heading.lv5 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #2E2E2E;
}

.title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767E7E;
    margin-bottom: 18px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    -webkit-line-clamp: var(--line-clamp, 2);
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    margin-top: 52px;
    background: #fff;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav .list {
    display: flex;
    margin-left: 60px;
}

header .nav a:hover,
header .nav .item.active a {
    font-weight: 600;
    color: #2F3A3B;
}

header .nav a {
    display: block;
    font-weight: 400;
    color: #2F3A3B;
    padding: 20px;
}

.header .action {
    display: flex;
    align-items: center;
}

.header .action .btn-action {
    background: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin-left: 24px;
    padding: 12px 24px;
    color: #1EBFC1;;
}

.header .action .btn-action:hover {
    background: var(--primary-color);
    color: #fff;
}

.header .action .sign-in {
    font-weight: 400;
    color: #494949;
}

/* Flat form */
.flatform {
    margin: 48px 0 80px;
}

.flatform .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flatform .content-left .flatform-title {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.flatform .content-left .flatform-desc {
    width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9DA6A5;
    margin-top: 18px;
}

.flatform .content-left .action {
    display: flex;
    align-items: center;
    margin-top: 52px;
    gap: 0 50px;
}

.flatform .content-left .btn-play {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    background: #fff;
    cursor: pointer;
    background: url(../icons/play-icon.svg) center center no-repeat;
}

.flatform .content-left .btn-play:hover {
    opacity: 0.8;
}

.flatform .content-right .img {
    position: relative;
    width: 576px;
    height: 631px;
}

.flatform .content-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Courses */
.flatform .courses {
    min-width: 157px;
    position: absolute;
    top: 4.8%;
    left: -7%;
}

.flatform .courses .content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 17px 25px 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.flatform .courses .content::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 4px;
    left: 29px;
    bottom: 25px;
    background-color: #fff;
    border-radius: 4px;
}

.flatform .courses .icon {
    position: relative;
    width: 36px;
    height: 40px;
    margin-right: 16px;
}

.flatform .courses .quantity {
    width: 55px;
    font-weight: 500;
    font-size: 1rem;
    color: #0D1111;
}

/* Schedules */
.flatform .content-right .schedules {
    min-width: 124px;
    position: absolute;
    bottom: 8%;
    left: -11.3%;
    background: #FFFFFF;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.flatform .schedules .content {
    padding: 16px 25px 23px;
}

.flatform .schedules .title {
    font-weight: 500;
    font-size: 1rem;
    color: #0D1111;
    text-align: center;
}

.flatform .schedules .range {
    display: block;
    background: #EDF1F5;
    border-radius: 3px;
    width: 74px;
    height: 6px;
    margin: 0 auto;
}

.flatform .schedules .range:nth-child(1) {
    position: relative;
    margin-top: 16px;
}

.flatform .schedules .range:nth-child(1)::after,
.flatform .schedules .range:nth-child(2)::after,
.flatform .schedules .range:nth-child(3)::after {
    content: "";
    position: absolute;
    height: 100%;
    background: #FB9899;
    border-radius: 3px;
}

.flatform .schedules .range:nth-child(1)::after {
    width: 52.5%;
}

.flatform .schedules .range:nth-child(2) {
    position: relative;
    margin-top: 12px;
}

.flatform .schedules .range:nth-child(2)::after {
    width: 69%;
}

.flatform .schedules .range:nth-child(3) {
    position: relative;
    margin-top: 10px;
}

.flatform .schedules .range:nth-child(3)::after {
    width: 44.6%;
}

.flatform .schedules .range:last-child {
    margin-top: 16px;
    width: 26px;
}

/* Active */
.flatform .content-right .active {
    position: absolute;
    bottom: 7%;
    right: 8%;
    min-width: 207px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.flatform .active .content {
    padding: 17px 35px;
}

.flatform .active .title {
    font-weight: 500;
    font-size: 1rem;
    color: #0D1111;
}

.flatform .active .students {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.flatform .students .avatar {
    --line-height: 33px;
    width: var(--line-height);
    height: var(--line-height);
    border-radius: 50%;
    font-weight: 500;
    font-size: 1rem;
    line-height: var(--line-height);
    text-align: center;
    object-fit: cover;
    color: #fff;
    background: var(--primary-color);
}

.flatform .students .avatar:not(:first-child) {
    margin-left: -7px;
}

/* Features */
.features {
    padding-top: 130px;
}

.features .features-header {
    max-width: 50.5%;
}

.features .features-header .features-desc {
    font-size: 1.8rem;
    color: #767E7E;
    margin: 18px 0 80px;
}

.features .features-header .features-title {
    letter-spacing: 4px;
}

.features .features-body {
    display: flex;
    align-items: center;
    gap: 0 200px
}

.features .features-body .column {
    width: 19%;
}

.features .features-body .column:nth-child(2) {
    margin-left: -50px;
}

.features .features-body .img {
    width: 102px;
    height: 106px;
    object-fit: cover;
    border-radius: 18px;
}

.features .features-body .features-title {
    margin: 26px 0 16px;
}

/* Courses */
.courses {
    padding-top: 130px;
}

.courses .courses-header .courses-title {
    letter-spacing: 4px;
}

.courses .courses-header .extend {
    margin: 19px 0 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .extend .courses-desc {
    max-width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767E7E;
}

.courses .extend .link {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: var(--primary-color);
}

.courses .courses-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .courses-body .column {
    position: relative;
    width: 30.7%;
    height: 393px;
}

.courses .column a {
    height: 100%;
    color:#0D1111;
}

.courses .column .img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 8px;
    object-fit: cover;
    transition: opacity 0.2s linear;
}

.courses .column .img:hover {
    opacity: 1;
}

.courses .column .content {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 90.5%;
    top: 80%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.courses .column .info {
    padding: 18px 25px 29px 25px;
}

.courses .info .price {
    margin: 16px 0 6px;
}

.courses .info .price span {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0D1111;
}

.courses .info .courses-desc {
    font-size: 1.4rem;
}

.courses .info .parameters {
    display: flex;
    align-items: center;
    margin: 18px 0 0 16px;
}

.courses .parameters .courses-desc {
    position: relative;
    margin-right: 26px;
}

.courses .parameters .courses-desc::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -16px;
    border-radius: 50%;
    background: var(--primary-color);
    transform: translateY(-50%);
}

/* Countdown */
.countdown {
    margin-top: 124px;
    padding-top: 255px;
}

.countdown .body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.countdown .column {
    text-align: center;
}

.countdown .column .number {
    display: block;
    font-weight: 700;
    font-size: 6.2rem;
    text-align: center;
    color: #0D1111;
}

.countdown .column .countdown-desc {
    font-size: 1.8rem;
    color: #767E7E;
}

/* Testimonial */
.testimonial {
    margin-top: 134px;
    padding-top: 130px;
}

.testimonial .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial .column:first-child {
    width: 35.8%;
}

.testimonial .column .text-content {
    font-weight: 400;
    margin: 27px 0 33px;
    font-size: 3.2rem;
    color: #5D6564;
}

.testimonial .column .author {
    position: relative;
    font-weight: 400;
    color: #767E7E;
}

.testimonial .column .author::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #070707;
}

.testimonial .author .name {
    margin-left: 13px;
    font-weight: 500;
    color: #070707;
}

.testimonial .column .nav {
    display: flex;
    align-items: center;
    gap: 0 30px;
    margin-top: 52px;
}

.testimonial .nav .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

.testimonial .column:last-child {
    width: 58%;
}

.testimonial .content {
    position: relative;
    padding: 107px 171px 139px 273px;
}

.testimonial .content .img {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--primary-color);
}

.testimonial .content .img-main {
    width: 235px;
    height: 235px;
}

.testimonial .content .img-sub1 {
    position: absolute;
    width: 110px;
    height: 110px;
    right: 0;
    top: 4%;
}

.testimonial .content .img-sub2 {
    position: absolute;
    width: 92px;
    height: 92px;
    top: 0;
    left: 21%;
}

.testimonial .content .img-sub3,
.testimonial .content .img-sub4,
.testimonial .content .img-sub5 {
    position: absolute;
    width: 78px;
    height: 78px;
}

.testimonial .content .img-sub3 {
    left: 0;
    bottom: 30%;
}

.testimonial .content .img-sub4 {
    bottom: 0;
    left: 31%;
}

.testimonial .content .img-sub5 {
    bottom: 6%;
    right: 4.7%;
}

/* CTA */
.cta {
    margin-top: 130px;
    background-color: #DEF6F5;
}

.cta .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 154px 88px 0;
}

.cta .body .cta-heading {
    color: #070707;
    margin-bottom: 18px;
}

.cta .body .cta-desc {
    color: #767E7E;
    font-size: 1.8rem;
    line-height: 1.5;
}

/* Footer */
.footer {

}

.footer .content {
    padding: 131px 0 50px;
}

.footer .content .body {
    display: flex;
    justify-content: space-between;
}

.footer .body ul {
    margin: 25px 0 80px;
}

.footer .body a {
    display: inline-block;
    font-weight: 400;
    margin-top: 18px;
    font-size: 1.6rem;
    color: #535353;
}

.footer .body li:hover {
    opacity: 0.8;
}

.footer .body .social-icon {
    margin-right: 10px;
}

.footer .content .footer-desc {
    font-size: 1.8rem;
    text-align: center;
    color: #B0B5B4;
}